.maincontainer{               
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    flex-direction: column;
}
.inputbox{
    width: 500px;
    height: 30px;
    margin: 20px;
    box-shadow: 1px 1px 2px 2px rgb(181,183,185);
    border: rgb(201, 199, 199);
    border: 2px;
}